<form [formGroup]="formNews" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputTitle4">Title</label>
            <input formControlName="title" type="text" class="form-control" id="inputTitle4" placeholder="enter title...">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPhoneNumber4">Phone number</label>
            <input formControlName="phone" type="text" class="form-control" id="inputPhoneNumber4" placeholder="enter your phone number..">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
        <label for="inputContent">Content</label>
        <input formControlName="content" type="text" class="form-control" id="inputContent" placeholder="mô tả yêu cầu của bạn">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputSubject">Subject</label>
            <input formControlName="subject" type="text" class="form-control" id="inputSubject">
        </div>
        <div class="form-group col-md-4">
            <label for="inputGrade">Grade</label>
            <input formControlName="grade" type="text" class="form-control" id="inputGrade" placeholder="lop 7 -> 7">
        </div>
        <div class="form-group col-md-2">
            <label for="inputFee">Addmission Fee: </label>
            <input formControlName="fee" type="text" class="form-control" id="inputFee">
        </div>
        <div class="form-group col-md-2">
            <label for="inputTuition">Tuition Per Hour: </label>
            <input formControlName="tuition" type="text" class="form-control" id="inputTuition">
        </div>
    </div>
    <button type="" class="btn btn-primary">Đăng bài</button>
</form>
