<div style="margin-top: 8%;">
    <angular-image-slider [autoRotate]="true" [autoRotateAfter]="5000" [autoRotateRight]="true" [images]="imagesUrl"></angular-image-slider>
</div>
<section class="section-services">
    <div class="container">
        <h3 class="like text-center">TÌM GIA SƯ THEO CÔNG NGHỆ 4.0</h3>
        <div class="col-xs-2"></div>
        <div class="col-xs-8 row">
            <table>
                <tr>
                    <td>
                        <h3><span class="glyphicon glyphicon-thumbs-up"></span> Chất lượng</h3>
                        <div> Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh</div>
                    </td>
                    <td class="second">
                        <h3><span class="glyphicon glyphicon-star-empty"></span> Linh hoạt</h3>
                        <div>Gia sư Đà Nẵng cung cấp dịch vụ linh hoạt, tùy chỉnh dễ dàng.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><span class="glyphicon glyphicon-retweet"></span> Kết nối trực tiếp</h3>
                        <div>Kết nối học viên với hàng nghìn gia sư khắp cả nước theo mô hình Uber, Grab.</div>
                    </td>
                    <td class="second">
                        <h3><span class="glyphicon glyphicon-education"></span> Lựa chọn đa dạng</h3>
                        <div>Gia sư là giảng viên, giáo viên, sinh viên, người nước ngoài,vv...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><span class="glyphicon glyphicon-xbt"></span> Tùy chọn học phí</h3>
                        <div>Nhiều gia sư cùng đấu giá mức học phí, bạn chỉ cần lựa chọn học phí phù hợp nhất.</div>
                    </td>
                    <td class="second">
                        <h3><span class="glyphicon glyphicon-time"></span> Nhanh chóng</h3>
                        <div>Chỉ mất 2 phút để đăng yêu cầu tìm gia sư.</div>
                    </td>
                </tr>
            </table>


        </div>
        <div class="col-xs-2"></div>
    </div>
</section>