#grid[_ngcontent-sty-c2] {
    height: 400px;
    grid-template-rows: 400px;
}

.image-cropper {
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

.section-services {
    margin-top: 40px;
    margin-bottom: 30px;
}

.section-services .container {
    background: #f6f6f6;
}

.section-services .services-item {
    padding: 0px 0px 10px 15px;
    border-right: 2px solid #ccc;
    overflow: hidden;
    min-height: 90px;
}

.section-services .services-item .icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 20px;
}

.section-services .services-item .info {
    padding: 2px 0 0 15px;
    margin-left: 40px;
}

.section-services .services-item .info a {
    color: #666;
    text-decoration: none;
}

.section-services .services-item .info a:hover {
    color: #ff3366;
}

.section-services .services-item:last-child {
    border-right: none;
}

.second {
    padding-left: 10%;
}