<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Đăng nhập </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Nhập email" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Trường này bắt buộc</div>
                                            <div *ngIf="f.email.errors.email">Vui lòng nhập email đúng định dạng</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu</label>
                                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Nhập mật khẩu từ 6 ký tự" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Trường này bắt buộc</div>
                                            <div *ngIf="f.password.errors.minlength">Nhập mật khẩu ít nhất 6 ký tự</div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-success mr-1">Đăng nhập</button>
                                    </div>
                                    <div class="text-center">
                                        <button [routerLink]="['/regist']" routerLinkActive="router-link-active" class="btn btn-primary mr-1">Đăng kí</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>