<div class="d-flex flex-column min-vh-100">
    <nav>
        <app-nav></app-nav>
    </nav>
    <main class="flex-grow-1">
        <router-outlet></router-outlet>
    </main>
    <footer id="sticky-footer" >
        <app-footer></app-footer>
    </footer>
</div>
