<header class="header-main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand item" href="index.html">
                    <span class="title">
                        <img src="../../../assets/images/main.png" style="height: 40px;margin-top: -11px;border-radius: 5px;">
                        <img src="../../../assets/images/bg.gif" style="height: 40px;margin-top: -11px;border-radius: 5px;">   
                        GIA SƯ ĐÀ NẴNG
                    </span>

                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/login']" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-user item"> Đăng nhập </span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in item"> Đăng ký</span></a></li>
            </ul>

        </div>
    </nav>
</header>