.navbar {
    background-color: #069D86;
}

.item {
    color: black;
    font-weight: bold;
}

.navbar-header {
    margin-left: 10%;
}

.title {
    font-family: monospace;
    color: white;
    font-size: 30px;
}

.nav {
    margin-right: 10%;
}