.news {
    margin-top: 5%;
}

h3 {
    color: #069D86;
}

.navbar {
    background-color: #069D86;
}

.item {
    color: black;
    font-weight: bold;
}

.navbar-header {
    margin-left: 10%;
}

.title {
    font-family: monospace;
    color: white;
    font-size: 30px;
}

.nav {
    margin-right: 10%;
}

.ssstable {
    color: rgb(119, 82, 82);
    margin-left: 20%;
}

.css {
    padding-left: 10%;
    padding-right: 10%;
    color: #FF9900;
}

.column {
    padding: 2em;
}

.header {
    background: #069D86;
    color: aliceblue;
    height: 50px;
}

th {
    padding-left: 1%;
}