<header class="header-main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand item" href="index.html">
                    <span class="title">
                        <img src="../../../assets/images/main.png" style="height: 40px;margin-top: -11px;border-radius: 5px;">
                        <img src="../../../assets/images/bg.gif" style="height: 40px;margin-top: -11px;border-radius: 5px;">   
                        GIA SƯ ĐÀ NẴNG
                    </span>

                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" (click)="Logout()"><span class="glyphicon glyphicon-log-in item" > Đăng xuất</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<section class="news">
    <div class="container" style="border: 1px solid gray;">
        <h3 class="like text-center"> YÊU CẦU THUÊ GIA SƯ</h3>

        <div class="col-xs-12 row">
            <button [routerLink]="['/add-news']" routerLinkActive="router-link-active" type="button" class="btn btn-warning">Thêm bài đăng</button>
            <table class="table table-hover">

                <tr class="header">
                    <th>STT</th>
                    <th style="width: 350px;"> Mô tả</th>
                    <th style="width: 250px;">Nội dung</th>
                    <th style="width: 100px;">Số điện thoại</th>
                    <th style="width: 150px;">Địa chỉ</th>
                    <th style="width: 100px;">Phí nhận lớp</th>
                    <th style="width: 100px;">Trạng thái</th>
                </tr>

                <tbody>
                    <tr *ngFor="let item of newsList;let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <strong style="color: #069D86;">{{item.title}}</strong><br>
                            <span style="border: 1px solid black;border-radius:2.5px;color: orange;margin: 2%;padding: 1%;">{{item.tuitionPerHour}},000 vnđ/giờ</span>
                            <span style="border: 1px solid black;border-radius:2.5px;padding: 1%;margin: 2%;">{{item.subject}}</span>
                            <span style="border: 1px solid black;border-radius:2.5px;padding: 1%;">Lớp {{item.grade}}</span>


                        </td>
                        <td>{{item.content}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.addmissionFee}},000 vnđ</td>
                        <td>
                            <div *ngIf="item.status==true; else elseblock">Đã nhận</div>
                        </td>
                        <ng-template #elseblock>Chưa nhận.</ng-template>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section><br>
<footer iv style="background-color:#069D86; height: 150px;" class="footer">
    <table class="ssstable">
        <tr>
            <th><span class="glyphicon glyphicon-user css"></span></th>
            <th class="column"> Gia sư khắp cả nước</th>
            <th><span class="glyphicon glyphicon-thumbs-up css"></span></th>
            <th class="column"> Hàn ngàn lượt truy cập</th>
            <th><span class=" glyphicon glyphicon-star-empty css"></span></th>
            <th class="column"> 85000 bài đăng </th>
        </tr>
        <tr>
            <th><span class="glyphicon glyphicon-earphone "></span></th>
            <th class="column"> 19006262</th>
            <th><span class="glyphicon glyphicon-envelope "></span></th>
            <th class="column"> contact@gmail.com</th>
            <th></th>
            <th class="column"> <img src="../../../assets/images/fb.png" style="height: 40px;margin-top: -11px;border-radius: 5px;">
                <img src="../../../assets/images/yt.jpg" style="height: 40px;margin-top: -11px;border-radius: 5px;"></th>
        </tr>
    </table>

</footer>