<h2 style="text-align: center; color: deeppink;"> Đăng ký</h2>
<div class="card m-3">
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Tên đăng nhập</label>
                    <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">Trường này bắt buộc</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Trường này bắt buộc</div>
                    <div *ngIf="f.email.errors.email">Vui lòng nhập email đúng định dạng</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Mật khẩu</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Trường này bắt buộc</div>
                        <div *ngIf="f.password.errors.minlength">Nhập mật khẩu ít nhất 6 ký tự</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Nhập lại mật khẩu</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Trường này bắt buộc</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Mật khẩu không khớp</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Đăng ký</button>
                <button class="btn btn-secondary" style="margin-left: 10px;" type="reset" (click)="onReset()">Nhập lại</button>
            </div>
        </form>
    </div>
</div>